/* Vars */

/* Global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container{
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Header */

.header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  width: 60px;
}

.header .nav .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.header .nav .icon span {
  border-bottom: 2px solid #222;
  width: 100%;
  margin-bottom: 6px;
}

.header .nav .icon span:nth-child(2) {
  width: 65%;
}
