/* Vars */
:root {
  --main-color: #10cab7;
}
/* Global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container{
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Header */

.header {
  padding: 20px;
  display: flex;
  align-items: center;
  position: relative;
}

.header .logo {
  width: 60px;
}

.header .nav {
  /* Using absolute postion so when the menu is open it won't affect header height */
  position: absolute;
  right: 20px;
  /* parent element has 20px padding and height of 24px, this element has 18px height */
  top: 23px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header .nav .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.header .nav .icon span {
  border-bottom: 2px solid #222;
  width: 100%;
  margin-bottom: 6px;
}

.header .nav:hover .icon span:nth-child(2) {
  width: 100%;
}

.header .nav .icon span:nth-child(2) {
  width: 65%;
  transition: 0.3s;
}
.header .nav .icon span:last-child {
  margin-bottom: 0;
}

.header .nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  min-width: 200px;
  position: relative;
  top: 10px;
  display: none;
}

.header .nav:hover ul {
  display: block;
}

.header .nav ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}

.header .nav li {
  padding: 4px;
}

.header .nav a {
  display: block;
  padding: 15px;
  color: #222;
  text-decoration: none;
  transition: 0.3s;
}

.header .nav a:hover {
  padding-left: 25px;
}

.header .nav li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

/* Main */
/* Hero section */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 1.7;
  /* without cover for <bg-size> there might be additional empty space around background */
  background: no-repeat center/cover url('../img/hero-background.jpg');
  height: calc(100vh - 64px);
}

.hero h1 {
  margin: 0;
  padding-bottom: 20px;
  font-size: 2.3rem;
  color: var(--main-color);
}

.hero p {
  max-width: 350px;
  text-align: center;
  margin: 0;
  font-size: 1.1rem;
}
